* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

main {
	margin: 0 auto;
}

/* HEADER */

header {
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/bg-960.jpg);
	background-position: center top;
}

.logo {
	margin: 0 auto;
}

.logo__link {
	display: inline-block;
}

.menu {
	text-align: center;
	font-family: 'League Gothic', arial;
	font-size: 24px;
}

.menu__first-item {
	display: inline-block;
	list-style: none;
}

.menu__home {
	color: #ffffff;
	text-decoration:none;
	display: inline-block;
	border-bottom: 2px solid #edbfff;
	position: absolute;
	z-index: 2;
}

.menu__dropdown {
	list-style: none;
	display:none;
	background-color: rgba(63, 50, 72, 0.8);
	padding:5px;
	border: 1px solid #101a21;
	border-radius: 10px;
	position: absolute;
}

.menu__dropdown--link {
	color: #ffffff;
	text-decoration:none;
	display: inline-block;
	line-height: 35px;
}

.menu__first-item:hover .menu__dropdown
{
	display: block;
}

.menu__dropdown--item {
	border-top: 1px solid #523f5a;
	border-bottom: 1px solid #36283e;
}

.menu__dropdown--item:last-child {
	border-bottom: none;
}

.menu__dropdown--item:hover {
	background: rgba(43, 34, 49, 0.8);
	border-top: 1px solid #503d58;
	border-bottom: 3px solid #edbfff;
}

.menu__dropdown--item:first-child {
	border-top: none;
	opacity: 0;
}

.slider {
	font-family: 'League Gothic', arial;
}

.iphone {
	float: right;
}

.slider__arrow--left {
	height: 44px;
	width: 28px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/navigation_mobile.png);
	float: left;
}

.slider__arrow--right {
	float: right;
	height: 44px;
	width: 26px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/navigation_mobile.png);
	background-position: -27px;
}

.slider__title {
	margin: 0 auto;
}

.slider__text {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	color: #ffffff;
}

.slider__title--first {
	color: #fefefe;
	font-size: 38px;
	text-shadow: rgb(71, 71, 71) 2px 3px 2px;
}

.slider__title--second {
	color: #edbfff;
	font-size: 20px;
	text-shadow: rgb(71, 71, 71) 2px 3px 2px;
	font-family: 'League Gothic', arial;
}

.slider__link {
	display: inline-block;
}

.slider__circle {
	width: 90px;
	height: 20px;
	margin: 0 auto;
}

.circle-menu {
	list-style: none;
	float: left;
}

.circle-menu__item {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/navigation_mobile.png);
	background-position: -52px;
	margin-right: 3px;
}

.circle-menu__item:hover {
	height: 16px;
	width: 16px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/navigation_mobile.png);
	background-position: -68px;
}

/* CONTENT VIOLET*/

.content-violet {
	width: 100%;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/bg_violet.jpg);
	background-position: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: -2px 6px 8px -5px #242424;
}

.about-company {
	width: 100%;
}

.about-info {
	color: #ffffff;
	list-style: none;
}

.spanner {
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/icons_mobile.png);
	float: left;
}


#title {
	font-family: 'League Gothic', arial;
	font-size: 24px;
}

.about-info__about {
	text-shadow: rgb(71, 71, 71) 2px 3px 2px;
	font-size: 24px;
	padding-left: 30px;
}

.about-info__text {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	text-shadow: rgb(71, 71, 71) 2px 3px 2px;
	line-height: 1.5em;
	overflow: hidden;

}

.about-info__link {
	display: inline-block;
	font-family: 'League Gothic', arial;
	text-decoration: none;
	float: right;
	color: #ffffff;
}

.about-info__link:hover {
	text-shadow:0px 0px 5px #E8EAED;
}

/* CONTENT LIGHTGREY */

.content-lightgrey {
	background: #f9f9f9;
	width: 100%;
	border-top: 1px solid #ffffff;
	-webkit-box-shadow: inset -1px 6px 12px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -1px 6px 12px -5px rgba(0,0,0,0.75);
	box-shadow: inset -1px 6px 12px -5px rgba(0,0,0,0.75);

}

/* FIRST BLOCK */

.content-white {
	margin-left: auto;
	margin-right: auto;
}

.content-white__block {
	background-color: white;
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.content-white__title {
	color: #282828;
}

.content-white__text {
	color: #282828;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	overflow: hidden;
}

.content-white__pinktext {
	color: #edbfff;
}

.circle-photo {
	position: absolute;
	height: 47px;
	width: 47px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/icons_mobile.png);
	background-position: -33px;
}

.slider__circle--white {
	width: 95px;
	height: 20px;
	margin: 0 auto;
}

.circle_white-menu {
	list-style: none;
	float: left;
}


.circle_white-menu__item {
	display: inline-block;
	height: 18px;
	width: 17px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/navigation_mobile.png);
	background-position: -86px;
	margin-right: 3px;
}

.circle_white-menu__item:hover {
	height: 18px;
	width: 17px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/navigation_mobile.png);
	background-position: -104px;
}


/* SECOND BLOCK */

.recent_updates {
	clear: left;
	font-family: 'Open Sans', sans-serif;
}

.updates {
	list-style: none;
}

.recent_updates__title {
	font-family: 'League Gothic', arial;
	font-size: 30px;
}

.updates__list--icon {
	width: 48px;
	height: 48px;
	float: left;
}


.updates__list--title {
	font-weight: bold;
	overflow: hidden;
}

.updates__list--title2 {
	overflow: hidden;
}

.updates__list--link {
	text-decoration: none;
	color: #282828;
	line-height: 1.5em;
}

.recent_updates__more {
	font-family: 'League Gothic', arial;
	font-size: 18px;
	float: right;
}

hr {
	background-color: #dedcdc;
	height: 1px;
	border: none;
	clear: both;
}

/* THIRD BLOCK */

.logos {
	clear: both;
	margin: 0 auto;
}

.logos_list {
	list-style: none;
}

.logos_list__link {
	display: inline-block;
}

.logos_list__link--1 {
	width: 70px;
	height: 70px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/logos_mobile.png);
	background-position: 0px;
}

.logos_list__link--2 {
	width: 70px;
	height: 70px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/logos_mobile.png);
	background-position: -72px;
}

.logos_list__link--3 {
	width: 68px;
	height: 70px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/logos_mobile.png);
	background-position: -144px;
}

.logos_list__link--4 {
	width: 55px;
	height: 70px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/logos_mobile.png);
	background-position: -211px;
}

.logos_list__link--5 {
	width: 103px;
	height: 70px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/logos_mobile.png);
	background-position: -267px;
}

.logos_list__link--6 {
	width: 80px;
	height: 70px;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/logos_mobile.png);
	background-position: -370px;
}

/* GREY BLOCK OF COMMENTS */

.grey {
	width: 100%;
	height: 580px;
	background-color: #e8e7e7;
	border-top: 1px solid #cfcfcf;
}

.news {
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
}

.news__title {
	font-family: 'League Gothic', arial;
	font-size: 22px;
	margin-bottom: 5px;
	line-height: 1.5em;
}

.news__text {
	font-family: 'Open Sans', sans-serif;
}

/* FOOTER */

footer {
	height: 200px;
	width: 100%;
	background-image: url(https://cdn.rawgit.com/MrValera/MrValera.github.io/master/GoIT/markup/home/lesson7-9/image/bg_footer.jpg);
	background-position: center top;
}

nav {
	height: 20px;
	width: 440px;
	margin: 0 auto;
	padding-top: 45px;

}

.footer__menu {
	font-family: 'League Gothic', arial;
	font-size: 20px;
	list-style: none;
}

.footer__menu--item {
	float: left;
	margin-right: 20px;
}

.footer__menu--item:last-child {
	margin-right: 0px;
}

.footer__menu--link {
	text-decoration: none;
	color: #fdfdfd;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.copyright {
	width: 150px;
	margin: 0 auto;
}

.copyright__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: white;
	font-weight: normal;
}

.copyright__bold {
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
