
* {
  padding: 0;
  margin: 0;
}


@media (min-width: 480px) {

Body {
  font-family: 'Roboto', sans-serif;
  background: url(http://s6.uploads.ru/t/tQC20.jpg) repeat center center;
}

h1 {
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.Registr-form {
  position: absolute;
  top: 10%;
  left: 22.5%;
  width: 55%;
  height: 500px;
}

.Registr-form-input {
  position: absolute;
  top: 50px;
  left: 150px;
  padding: 15px 0;
  width: 240px;
  height: 320px;
  box-sizing: border-box;
}

.Registr-form-input input {
  width: 220px;
  height: 40px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 18px;
}

.Regostr-checkbox {
  position: relative;
  left: 45px;
  margin: 10px 0;
}

.Regostr-checkbox input {
  width: 15px;
  height: 15px;
}


span {
  position: relative;
  top: -3px;
  color: #fff;
}

button {
  width: 240px;
  height: 48px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

}


@media (min-width: 1300px) {

Body {
  font-family: 'Roboto', sans-serif;
  background: url(http://s6.uploads.ru/t/tQC20.jpg) repeat center center;
}

h1 {
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.Registr-form {
  position: absolute;
  top: 10%;
  left: 22.5%;
  width: 55%;
  height: 500px;
}

.Registr-form-input {
  position: absolute;
  top: 50px;
  left: 255px;
  padding: 15px 0;
  width: 240px;
  height: 320px;
  box-sizing: border-box;
}

.Registr-form-input input {
  width: 220px;
  height: 40px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 18px;
}

.Regostr-checkbox {
  position: relative;
  left: 45px;
  margin: 10px 0;
}

.Regostr-checkbox input {
  width: 15px;
  height: 15px;
}


span {
  position: relative;
  top: -3px;
  color: #fff;
}

button {
  width: 240px;
  height: 48px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #fff;
}

}

@media (min-width: 1440px) {

.Registr-form-input {
  position: absolute;
  top: 50px;
  left: 275px;
}

}

@media (min-width: 1920px) {

.Registr-form {
  position: absolute;
  top: 10%;
  left: 34%;
  width: 35%;
}


.Registr-form-input {
  position: absolute;
  top: 50px;
  left: 220px;
}

}
