@import url('https://fonts.googleapis.com/css?family=Ubuntu');


html, body, h1, h2, ul, li, section, div, a, input, p {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  background: #000428; 
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;

}

a {
  color: #EFEBDC;
  text-decoration: none;
  font-weight: normal;
}

.wrap {
  width: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

p {
   line-height: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}

.content {
  margin-top: 10px;
  padding: 15px;
  color: #EFEBDC;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background: rgba(60, 60, 50, 0.45);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s .75s;
}


.slide::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: -ms-radial-gradient(rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, .8) 85%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, .8) 85%);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, .8) 85%);
  background: radial-gradient(rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, .8) 85%);
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}

#page-preloader .spinner {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../image/ajax-loader.gif') no-repeat 50% 50%;
  margin: -16px 0 0 -16px;
}


/*===== HOVER EFFECT ===========*/
a:hover {
  color: #4D668E;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#slide--one:hover,
#slide--two:hover,
#slide--three:hover,
#slide--four:hover {
  font-weight: 900;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#slide--one:hover {
  color: #0096d6;
}

#slide--two:hover {
  color: #00b274;
}

#slide--three:hover {
  color: #d75ba2;
}

#slide--four:hover {
  color: #e9ac40;
}

/*========= Start slider ========*/

.slide-one {
  overflow: hidden;
  background: url('../image/mountain.jpg');
  background-size: cover;
}

.slide-two {
  overflow: hidden;
  background-image: url('../image/baikal.jpg');
  background-size: cover;
}

.slide-three {
  overflow: hidden;
	background-image: url('../image/Lake.jpg');
  background-size: cover;
}

.slide-four {
  overflow: hidden;
	background-image: url('../image/Sahara.jpg');
  background-size: cover;
}


.slide h1 {
	opacity: 0;
	transform: translateY(100%);
	transition: transform .5s .5s, opacity .5s;
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}

[id^='slide']:checked + .slide h1 {
	opacity: 1;
	transform: translateY(0);
	transition: all .5s .5s;
}

/* End SLIDER */

/*====== 320px === 960px =========*/
@media (min-width: 320px) {

/* SLIDER */

label {
  padding: 5px;
  color: #EFEBDC;
  cursor: pointer;
  display: inline-block;
}

/* END SLIDER */

header {
  width: 320px;
  margin-left: -160px;
  position: relative;
  left: 50%;
  z-index: 200;
  overflow: hidden;
}


.b-b {
  position: relative;
  top: 6%;
  left: 0;
  z-index: 201;
}

}

@media (min-width: 768px) {

header {
  max-width: 460px;
  width: 100%;
  margin-left: -230px;
  position: relative;
  left: 50%;
  z-index: 200;
  overflow: hidden;
}

.b-b {
  top: 10%;
}

label {
  letter-spacing: 2px;
  padding: 15px;
}


}

@media (min-width: 960px) {

.b-b {
  width: 90%;
  max-width: 450px;
  padding: 15px;
  top: 0;
  left: 0;
  letter-spacing: 2px;
}

}
